* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; /*Add content goes toward left*/
}
/* Box 1 */
.navlogo {
  height: 50px;
  width: 100px;
}
.logo {
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100%;
}
.border {
  border: 1.5px solid transparent;
}
.border:hover {
  border: 1.5px solid rgb(0, 255, 38);
}
/* Box2 */
.firstadd {
  color: #cccccc;
  font-size: 0.9rem; /*using rem makes font responsive*/
  margin-left: 15px;
}
.secadd {
  font-size: 1rem;
  margin-left: 3px;
}
.addressicon {
  display: flex;
  align-items: center;
}
/* Box 3 */
.navsearch {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(255, 174, 0);
  width: 620px;
  height: 40px;
  border-radius: 5px;
}
.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}
.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.searchicon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #011111;
}
.navsearch:hover {
  border: 2px solid orange;
}
/* Box 4 */
span {
  font-size: 0.7rem;
}
.secnav {
  font-size: 0.86rem;
  font-weight: 700;
}
/* Box 5 */
.navcart i {
  font-size: 30px;
}
.navcart {
  font-size: 0.85rem;
  font-weight: 700;
}
/* Panel */
.panel {
  height: 40px;
  background-color: #222f3d;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}
.panelopps p {
  display: inline;
  margin-left: 15px;
}
.panelopps {
  width: 70%;
  font-size: 0.86rem;
}
.paneldeals {
  font-size: 0.9rem;
  font-weight: 700;
}
/* Hero Sec */
.hero {
  background-image: url("hero_image.jpg");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.heromsg {
  background-color: white;
  color: black;
  height: 40px;
  display: flex;
  align-items: center; /*vertically center*/
  justify-content: center; /* Horizontally center*/
  font-size: 0.85rem; /* 14px */
  width: 80%;
  margin-bottom: 25px;
}
.heromsg a {
  color: #007185;
}
/* Shop Sec */
.shopsec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}
.box {
  /* border: 2px solid black; */
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 15px;
  transition: 0.3s;
}
.box:hover {
  transform:translateY(-5px);
    background:#4b6892;
}
.boximg {
  width: 100%;
  height: 300px;
  background-size: cover;
  /* background-repeat: no-repeat; */
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.boxcontent {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.boxcontent p {
  color: #010e10;
  font-weight: 600;
}
/* Footer */
footer {
  margin-top: 15px;
}
.foot-panel1 {
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}
.foot-panel1 a{
  text-decoration: none;
  color: white;
}
.foot-panel2 {
  background-color: #222f3d;
  color: white;
  height: 400px;
  display: flex;
  justify-content: space-around;
  text-align: left;
  flex-wrap: wrap;
}
ul {
  margin-top: 20px;
}
ul a {
  display: block; /* Single Line */
  font-size: 0.85rem;
  margin-top: 10px;
  color: #dddddd;
  text-decoration: none;
}
.foot-panel3 {
  height: 60px;
  background-color: #222f3d;
  color: white;
  border-top: 0.5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 40px;
  width: 100px;
}
.foot-panel4 {
  background-color: #0f1111;
  color: white;
  height: 80px;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.pages {
  font-size: 0.8rem;
  text-align: center;
  padding-top: 25px;
}
.copright {
  font-size: 0.7rem;
  text-align: center;
  padding-top: 5px;
}
@media (max-width: 768px) {
  .navbar {
    /* height: auto;
    padding: 10px 12px;
    gap: 10px;
    justify-content: center; */
    flex-direction: column;
     height: auto;
    padding: 10px;
    align-items: center;
  }

  .navsearch {
    width: 100%;
    /* max-width: 100%;
    margin: 5px 0; */
    margin-top: 10px;
  }

  .hero {
    height: 200px;
    background-size: cover;
  }

  .heromsg {
    width: 95%;
    font-size: 0.8rem;
    margin-bottom: 15px;
  }

  .shopsec {
    /* padding: 15px 10px;
    grid-template-columns: repeat(auto-fit, minmax(4, 1fr));
    gap: 5px; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box {
    /* height: 360px; */
    width: 90%;
    margin-bottom: 15px;
  }

  .boximg {
    height: 50%;
    padding: 10px;
  }

  /* .panel {
    font-size: 0.85rem;
    padding: 0 10px;
    gap: 12px;
  } */
   .panelopps {
    display: none;
   }
   .foot-panel2 {
    flex-direction: column;
    text-align: center;
    align-items: center;
   }
}
